*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #111111;
    color: #FFFFFF;
    padding: 10px;
}
h1{
    background-image: linear-gradient(to right, rgb(34, 199, 221), rgb(34, 124, 221), rgb(34, 71, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 600;
}
input{
    background: transparent;
    border: 1px solid #d9d9d9;
    color: #FFFFFF;
    padding: 10px;
    font-size: 1rem;
    width: 40%;
    margin-bottom: 10px;
    outline: none;
    border-radius: 5px;
}
button{
    background: linear-gradient(to right, rgb(34, 199, 221), rgb(34, 124, 221), rgb(34, 71, 221));
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 1rem;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.link{
    background-color: #000000;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2600ff5e;
}
a{
    text-decoration: none;
    color: #2600ff5e;
}